
<div class="row">
    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>If you want to </span>
            <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
        </div>
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="register">Register a new account</a>
        </div>
    </div>
    <div class="container">
        <jhi-alert></jhi-alert>
        <div class="table-responsive" *ngIf="garages">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Description</span></th>
                    <th><span>Active</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let garage of garages ;trackBy: trackId">
                    <td><a [routerLink]="['/garage', garage.id, 'view' ]">{{garage.id}}</a></td>
                    <td>{{garage.description}}</td>
                    <td>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/garage', garage.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
